@charset "utf-8";

body {
    background-color: #EAE8FE;
}


.vending-machine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 247px;
    font-family: 'Noto Sans KR', sans-serif;
    gap: 0 28px;
    margin-bottom: 100px;
}



.vending-machine h1 {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-image: url(./images/Logo_img.png);
    background-size: 100% 100%;

    background-position: center;
    background-repeat: no-repeat;
}

.cont-machine,
.cont-buy {
    width: 360px;
    box-sizing: border-box;
}

.cont-machine {
    padding: 31px 27px 28px;
    background-color: #fff;
}

.cont-machine .list-drink {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.list-drink .list-item {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
}

.list-drink .list-item:active::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid #6327FE;
    border-radius: 10px;
}

.list-drink .list-item.sold-out {
    pointer-events: none;
}

.list-drink .list-item.sold-out::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(./images/Sold-out.png);
    background-repeat: no-repeat;
    background-size: 60px 46px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 10;
}

.list-drink .list-item.sold-out::after {
    content: '품절';
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

.list-item .btn-cola {
    padding: 11px 0 9px;
}

.list-item .tit-cola {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    margin: 6px 0 7px;
    display: block;
}

.list-item .txt-price {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: white;
    padding: 5px 12px;
    background-color: #6327FE;
    border-radius: 50px;
}

.cont-info .info-balance,
.cont-info .inp-put,
.cont-info .list-selected {
    padding: 7px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.cont-info .btn-return,
.cont-info .btn-put,
.cont-info .btn-get {
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.cont-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.cont-info .info-balance {
    grid-column: 1 / 3;
    font-size: 14px;
    background-color: #EAE8FE;
}

.info-balance .txt-balance {
    float: right;
}

.cont-info .inp-put {
    grid-column: 1 / 3;
    border: 1px solid #BDBDBD;
}

.cont-info .list-selected {
    grid-column: 1 / 3;
    height: 106px;
    overflow-y: scroll;
    border: 1px solid #BDBDBD;
    background-color: #EAE8FE;
}

.list-selected li {
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

.list-selected li+li {
    margin-top: 6px;
}

.list-selected .img-item,
.list-selected .txt-item {
    float: left;
}

.list-selected .img-item {
    width: 18px;
}

.list-selected .txt-item {
    margin-left: 10px;
    line-height: 33px;
    font-size: 9px;
}

.list-selected .num-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    float: right;
}

.cont-info .btn-get {
    font-weight: 700;
    background-color: #6327FE;
    color: #fff;
}

.vending-machine .cont-buy {
    display: flex;
    flex-direction: column;
}

.cont-buy .cont-mymoney {
    padding: 9px 27px;
    margin-bottom: 20px;
    background-color: #fff;
}

.cont-mymoney .info-mymoney {
    background-color: #EAE8FE;
    padding: 6px 10px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 5px;

}

.info-mymoney .txt-mymoney {
    float: right;
    font-weight: 700;
}

.cont-buy .cont-myitems {
    padding: 25px 27px 32px;
    background-color: #fff;
}

.cont-buy .tit-myitem {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.cont-myitems .list-item-staged {
    height: 364px;
    box-sizing: border-box;
    background-color: #EAE8FE;
    margin-top: 13px;
    padding: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    overflow-y: scroll;
}

.list-item-staged li .btn-staged {
    padding: 6px 8px 7px 10px;
    background-color: #fff;
    border-radius: 5px;
}

.list-item-staged li+li {
    margin-top: 6px;
}

.btn-staged .img-item {
    width: 18px;
    float: left;
}

.btn-staged .txt-item {
    font-size: 9px;
    font-weight: 500;
    line-height: 32px;
    float: left;
    margin-left: 10px;
}

.btn-staged .num-counter {
    padding: 3px 10px 5px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    float: right;
    margin-top: 1px;
}

.cont-myitems .txt-total {
    float: right;
    font-size: 12px;
    line-height: 17px;
    margin-top: 6px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: white;
    }

    .vending-machine {
        padding-top: 65px;
    }

    .vending-machine h1 {
        width: 166px;
        height: 70px;
    }

    .cont-buy .cont-myitems {
        margin-top: 0;
        padding: 21px 27px 31px;
    }
}